body {
    background: white;
}

.container-fluid{
    padding-top: 0;
}


.top-logo {

    margin-top: 2em;
    border-style: solid;
    border-color: black;
    border-radius:10px;
    color: white;
    background: black;
    height: 9vw;
    min-height: 75px;
    max-height: 225px;
    text-align: center;

}

.user-controls {

    min-height: 75px;
    max-height: 225px;
    margin-top: 2em;
    border-style: solid;
    border-color: green;
    border-radius:10px;
    color: black;
    background: green;
    height: 9vw;
    

}

.form-control{


}

.btn {

    margin-top: 3px;

}

.signup-link {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.signup-link a {
    color: blue;
}

.signup-form {
    color: white;
    width: 50%;
    margin-top: 1vw;
    margin-left: 25%;
}


.content-pane {
    margin-top: 5px;
    height: 35vw;
    overflow: scroll;

}

.content-box {

    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    min-height: 150px;
    max-height: 800px;
    height: 100%;
    border-style:solid;
    border-color: black;
    background: black;

    padding-bottom: 5px;
}

.post-title {

    margin-top: 0;
    margin-left: 10px;
    background-color: black;
    color: white;
    max-height: 25%;


}

.post-author {

    border-radius: 10px;
    background: #0d6ee5;
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    
    height: 100%;

}

.post-content {
    background: white;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    height: 250px;
    border-radius: 10px;

    padding: 5px 5px 5px 5px;

    overflow: scroll;

}
.footer-content {

    margin-top: 1%;
    background: green;
    border-radius: 10px;

    min-height: 30px;
    max-height: 100px;
    height: 5vw;

    color: white;

}

