body {
    background: white;
}

* {
    margin-left: 5% margin-right: 5%;
}



.top-logo {

    margin-top: 2em;
    border-style: solid;
    border-color: black;
    border-radius:10px;
    color: white;
    background: black;
    height: 7vw;
    min-height: 75px;
    max-height: 200px;
    text-align: center;

}

.user-controls {

    margin-top: 2em;
    border-style: solid;
    border-color: green;
    border-radius:10px;
    color: black;
    background: white;
    height: 7vw;
    min-height: 75px;
    max-height: 200px;

}

.bottom{
    background:black
}

.content-pane {
    margin-top: 20px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    min-height: 150px;
    max-height: 500px;
    height: 100%;
    border-style:solid;
    border-color: black
}

.col-md-12 .bot {

}

