body {
    background: white;
}

.container-fluid{
    padding-top: 0;
}


.top-logo {

    margin-top: 2em;
    border-style: solid;
    border-color: black;
    border-radius:10px;
    color: white;
    background: black;
    height: 9vw;
    min-height: 75px;
    max-height: 225px;
    text-align: center;

}

.user-controls {

    min-height: 100px;
    max-height: 225px;
    max-width: 546px;
    min-width: 401px;
    margin-top: 2em;
    border-style: solid;
    border-color: green;
    border-radius:10px;
    color: black;
    background: green;
    height: 9vw;
    
}


.btn {

    margin-top: 3px;

}

.signup-link {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

.signup-link a {
    color: blue;
}

.signup-form {
    color: white;
    width: 50%;
    margin-top: 1vw;
    margin-left: 25%;
}

.blog-compose-title {
    color: white;
    width: 50%;
    margin-top: 1vw;
    margin-left: 25%;
}

.blog-compose-field {
    color: white;
    width: 50%;
    height: auto;
    overflow: scroll;
    margin-top: 1vw;
    margin-left: 25%;
}

.blog-compose-button {
    color: white;
    width: 50%;
    margin-top: 1vw;
    margin-left: 25%;
}

.content-pane {


    overflow: auto;
    overflow-x: hidden;
    margin-top: .5vw;

    max-height: 20vw;

}

.content-pane-blog-view {

    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: .5vw;

    max-height: 40vw;

}

.content-box {

    margin-top: 20px;
/*    margin-right: 2%;
    margin-left: 2%;*/
    border-radius: 10px;
    color: black;
    font-weight: bold;
    min-height: 150px;
    max-height: 800px;
    height: 100%;
    width: 100%;
    border-style:solid;
    border-color: black;
    background: black;

    padding-bottom: 5px;
}

.comment-box {

    margin-top: 20px;
    /*margin-right: 2%;
    margin-left: 2%;*/
    border-radius: 10px;
    color: black;
    font-weight: bold;
    min-height: 150px;
    max-height: 800px;
    height: 100%;
    border-style:solid;
    border-color: blue;
    background: blue;

    padding-bottom: 5px;
}

.add-comment-box {

    border-radius: 10px;
    background: orange;
    color: black;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 2%;
    margin-left: 2%;
    
    min-height: 75px;
    max-height: 150px;
    height: 100%;
}

textarea {
    resize: none;
    overflow: auto;
}

.comment-author-text {

    color:orange;
}

.blog-comment-date {

    color: white;
    text-align: right;
}

.delete-post-text {
    color: blue;
}

.comment-compose-header {
    margin-top: 10%;
    margin-left: 4%;
}

.comment-compose-field {

    margin-top: 1.5%;
    margin-bottom: 1%;
    
}

.comment-compose-button {
    margin-top: 7.5%;
}

.comment-edit-button {
    margin-left: 1vw;
}

.blog-compose-box {


    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    min-height: 400px;
    
    height: 100%;
    border-style:solid;
    border-color: black;
    background: black;

    /*padding-bottom: 5px;*/
}

.blog-view-title {
    color: white;
    width: 100%;
    margin-top: 1vw;
    text-align: center;
}


.blog-author-slot {
    margin-left: 75vw;
    color: orange;
}

.blog-author-text {
    color: blue;
}

.blog-content-field {

    margin-top: 20px;
    margin-right: 2%;
    margin-left: 5%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    min-height: 400px;
    width: 80vw;
    height: 100%;
    border-style:solid;
    border-color: black;
    background: black
    word-break: break-all;
}

.blog-view-nav {
    text-align: center;
}

.post-title {

    margin-top: 0;
    margin-left: 10px;
    background-color: black;
    color: white;
    max-height: 25%;


}

.post-author {

    border-radius: 10px;
    background: #0d6ee5;
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    
    height: 100%;

}

.post-content {
    background: white;
    color: black;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    height: 250px;
    border-radius: 10px;

    padding: 5px 5px 5px 5px;

}

/* Buttons */

.post-likes {
    padding: 15px 5px 5px 5px;
    color: white;
}

.read_blog_button {

    margin-left: 10vw;
    margin-top: 9.5%;
}

.blog_comments_button {

    margin-left: 21vw;
    margin-top: 9.5%;

}

.blog-comment-box {

    margin-top: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    min-height: 75px;
    max-height: 150px;
    height: 100%;
    border-style:solid;
    border-color: blue;
    background: blue;

    padding-bottom: 5px;

}

.blog-comment-text{
    color: white;
    margin-top: 1%;
    margin-left: 1%;

}

.footer-content {

    margin-top: 1%;
    background: green;
    border-radius: 10px;

    min-height: 30px;
    max-height: 100px;
    height: 5vw;

    color: white;

}

