<!DOCTYPE html>

<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/basicblogstyle.css">




    </head>

    <body>

        <div class="container-fluid">

            <row>



                    <div class="col-md-12">

                        <div class="top">
                            <row>
                                <div class="col-md-8">
                                    <div class="top-logo">

                                        <h1> Basic Blog </h1>

                                    </div>

                                </div>

                                <div class="col-md-4">
                                    <div class="user-controls">

                                        login stuff here

                                    </div>


                                </div>


                            </row>

                        </div>

                    </div>



            </row>


            <row>

            <div class="bottom">

                <div class="col-md-12 bot">

                    <div class="content-pane">

                        <p> Not The Top </p>

                    </div>

                </div>

            </div>

            </row>

        {% block contentz %}

        {% endblock %}


        </div>



    </body>

    <footer>

    </footer>

</html>