<!DOCTYPE html>

<html>

    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/basicblogstyle.css">

        {% block header_block %}

        {% endblock %}

    </head>

<div class="container-fluid">

    <body>

        

            <div class="row">

                <div class="col-md-8">

                    <div class="top-logo">

                        <h1> Basic Blog </h1>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="user-controls">

                        {% block login_block %}

                        {% endblock %}

                    </div>


                </div>

            </div>

            <!-- Main Content Pane Starts Here -->



            <div class="row">

            <!-- Begin Content Pane Section -->
                <div class="col-md-12">


                        {% block posts_block %}

                        {% endblock %}

                


                </div>

            <!-- End Individual Post Entries -->
            </div>


    </body>

    <footer>
        

            <div class="row">

                <div class="col-md-12">

                    <div class="footer-content">

                    ending stuff

                    </div>

                </div>

            </div>

    </footer>

</div>

</html>