<!DOCTYPE html>

<html>

<div class="container-fluid">



    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link type="text/css" rel="stylesheet" href="css/bootstrap.css">
        <link type="text/css" rel="stylesheet" href="css/basicblogstyle.css">

        {% block header_block %}

        {% endblock %}

    </head>

    <body>

            <div class="row">

                <div class="col-md-8">

                    <div class="top-logo">

                        <a href="/"><h1> BasicBlog </h1></a>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="user-controls">

                        {% block login_block %}

                        {% endblock %}

                    </div>

                </div>

            </div>

            <!-- Main Content Pane Starts Here -->

            <div class="content-pane">

                <div class="row">

                <!-- Begin Content Pane Section -->
                    <div class="col-md-12">

                            {% block posts_block %}

                            {% endblock %}

                    </div>
                
                </div>

            </div>
            <!-- End Individual Post Entries -->

    </body>

    <footer>

            <div class="row">

                <div class="col-md-12">

                    <div class="footer-content">

                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />All work on this site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.

                    </div>

                </div>

            </div>

    </footer>

</div>

</html>