{% extends "base.html" %}

{% block posts_block %}

<div class="row">

    <div class="col-md-12">

        <div class="blog-compose-box">

            <div class="row">

                <div class="col-md-12">

                    <div class="blog-compose-title">

                        <h3> Compose Your Blog Post! </h3>

                    </div>

                </div>

            </div>

            <form action="blog-compose.html" method="post">

	            <div class="row">

	            	<div class="col-md-12">

	            		<div class="blog-compose-title">

	            			{% if title != 'None' %}

	            			<input type="text" class="form-control" name="title" id="blog_title" value="{{ title }}">

	            			{% else %}

							<input type="text" class="form-control" name="title" id="blog_title" placeholder="title">

							{% endif %}

	            		</div>

	            	</div>

	            </div>

	            <div class="row">

	            	<div class="col-md-12">

	            		

	            		<div class="blog-compose-field">

							<textarea class="form-control" name="content" id="blog_content" rows="10"> Start Writing! </textarea> 

	            		</div>



	            	</div>

	            </div>

	            <div class="row">

	            	<div class="col-md-12">

	            		<div class="blog-compose-button">

							<button type="submit" class="btn btn-primary"> Post! </button>

							{% if error %}

								<h3>{{ error }}<h3>

							{% endif %}

	            		</div>

            	</div>

            </div>

        </form>

        </div>

    </div>

</div>

{% endblock %}