{% extends "base.html" %}

{% block login_block %}

<div class="user-greeting">

		<form action="login.html" method="post">

			<div class="row">

				<div class="col-md-6">

					<div class="login-form">
						<label for="user_id"> email: </label>
						<input type="email" class="form-control" name="user_id" id="user_id" aria-describedby="email-subtext" placeholder="email">

					</div>

				</div>

				<div class="col-md-6">

					<div class="login-form">
					<label for="password"> password: </label>
					<input type="password" class="form-control" name="password" id="password" placeholder="password">
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-4">

					<div class="login-form">

						<button name ="login-submit" type="submit" class="btn btn-primary"> Submit! </button>

					</div>

				</div>

				<div class="col-md-8">

					<div class="signup-link">

						<a href="register.html"> Not a Member? Register! </a>

					</div>

				</div>

			</div>


		</form>

	</div>

{% endblock %}

{% block posts_block %}

<div class="row">

    <div class="col-md-12">

        <div class="blog-compose-box">

            <div class="row">

                <div class="col-md-12">

                    <div class="signup-form">

                        <h3> {{ title }} </h3>

                    </div>

                </div>

            </div>

            <form action="blog-edit.html" method="post">

	            <div class="row">

	            	<div class="col-md-12">	

	            		<div class="blog-compose-field">

								{{ content }}

	            		</div>

	            	</div>

	            </div>

	            <div class="row">

	            	<div class="col-md-12">

	            		<div class="signup-form">

	            			<input type="hidden" name="blog_id" value="{{ blog_id }}">

							<button type="submit" class="btn btn-primary"> Update! </button>

	            		</div>

            	</div>

            </div>

        </form>

        </div>

    </div>

</div>

{% endblock %}