{% extends "base.html" %}

{% block login_block %}

	<div class="user-greeting">

		<h3> {{ user }} </h3>
		<a href="logout.html"> Logout </a>
		<a href="blog-compose.html"> Compose Post </a>

	</div>

{% endblock %}

{% block posts_block %}

<div class="row">

    <div class="col-md-12">

        <div class="blog-compose-box">

            <div class="row">

                <div class="col-md-12">

                    <div class="signup-form">

                        <h3> {{ title }} </h3>

                    </div>

                </div>

            </div>

            

	            <div class="row">

	            	<div class="col-md-12">	

	            		<div class="blog-compose-field">

								{{ content }}

	            		</div>

	            	</div>

	            </div>


        </div>

    </div>

</div>


<!-- Add Comment -->

<div class="row">
	
		<div class="add-comment-box">
		<form action="comment.html" method="post">
			<div class="row">

				<div class="col-md-2">

					<div class="comment-compose-header">

						<h4> Add a Comment: </h4>

					</div>

				</div>


				<div class='col-md-8'>

					<div class="comment-compose-field">
						<input type="hidden" name="title_id" value="{{ blog_id }}">
						<textarea name="comment" rows="2" cols= "120"> </textarea>

					</div>

				</div>


				<div class="col-md-2">

					<div class="comment-compose-button">

						<span id="add-comment-button"><button type="submit" name="comment_button" class="btn btn-info">Comment</button></span>

					</div>

				</div>

			</div>
		</form>
		</div>
	
</div>


<!-- Begin Comments -->

{% for comment in comments %}

<div class="row">

	<div class="col-md-12">

		<div class="blog-comment-box">

			<div class="blog-comment-text">

				<o id="comment"> {{ comment['content'] }} </o>

			</div>

		</div>

	</div>

</div>

{% endfor %}

{% endblock %}