{% extends "base.html" %}

{% block login_block %}

	<div class="user-greeting">

		<h3> {{ user }} </h3>
		<a href="logout.html"> Logout </a>
		<a href="blog-compose.html"> Compose Post </a>

	</div>

{% endblock %}

{% block posts_block %}

<div class="row">

    <div class="col-md-12">

        <div class="blog-compose-box">

            <div class="row">

                <div class="col-md-12">

                    <div class="signup-form">

                        <h3> {{ title }} </h3>

                    </div>

                </div>

            </div>

            

	            <div class="row">

	            	<div class="col-md-12">	

	            		<div class="blog-compose-field">

								{{ content }}

	            		</div>

	            	</div>

	            </div>


        </div>

    </div>

</div>


<!-- Add Comment -->

<div class="row">
	
		<div class="add-comment-box">

			<div class="row">

				<div class="col-md-2">

					<div class="comment-compose-header">

						<h4> Add a Comment: </h4>

					</div>

				</div>


				<div class='col-md-8'>

					<div class="comment-compose-field">

						<textarea rows="2" cols= "120"> </textarea>

					</div>

				</div>


				<div class="col-md-2">

					<div class="comment-compose-button">

						<button type="button" class="btn btn-success">Comment</button>

					</div>

				</div>

			</div>

		</div>
	
</div>




<!-- Begin Comments -->

{% for comment in comments %}

<div class="row">

	<div class="col-md-12">

		<div class="blog-comment-box">



		</div>

	</div>

</div>

{% endfor %}

{% endblock %}