{% extends "base.html" %}

{% block login_block %}

	<div class="user-greeting">

		<h3> {{ user }} </h3>
		<a href="logout.html"><button type="button" class="btn btn-danger"> Logout </button></a>
		<a href="blog-compose.html"><button type="button" class="btn btn-primary"> Compose Post </button></a>

	</div>

{% endblock %}


{% block posts_block %}

<div class="row">

    <div class="col-md-12">

        <div class="blog-compose-box">

            <div class="row">

                <div class="col-md-12">

                    <div class="blog-view-title">

                        <h3> {{ title }} </h3>

                    </div>

                </div>

            </div>

            <div class="row">

            	<div class="col-md-12">

            		<div class="blog-author-slot">

            			 By <span class="blog-author-text">{{ author }}</span>

            		</div>

            	</div>

            </div>

	            <div class="row">

	            	<div class="col-md-12">	

	            		<div class="blog-content-field">

								{{ content }}

	            		</div>

	            	</div>

	            </div>


        </div>

    </div>

</div>


<div class="blog-comment-box">

	<div class="row">

		<div class="col-md-6">

			<div class="blog-comment-author">

				According to <span class="comment-author-text"> {{ comment['commenter'] }}</span>:

			</div>

		</div>

		<div class="col-md-6">

			<div class="blog-comment-date">

			{{ comment['timestamp'] }}

			</div>

		</div>

	</div>

	<div class="row">

		<div class="col-md-12">

				<div class="blog-comment-text">

					<o id="comment"> {{ comment['content'] }} </o>

				</div>

		</div>

	</div>

	<div class="row">

		<div class="col-md-4">

			<div class="comment-delete-confirm">
			
				<form action="delete_comment.html" method="POST">
					<p> Delete This Comment? </p>
					<input type="hidden" value="{{comment_id}}" name="comment_id">
					<input type="hidden" value="{{blog_id}}" name="blog_id">
					<button type="submit" class="btn btn-danger"> Delete Comment </button>
				</form>

			</div>

		</div>

	</div>

</div>

{% endblock %}