{% extends "base.html" %}

{% block header_block %}

<title> Basic Blog! </title>

{% endblock %}

{% block login_block %}
	

	<div class="user-greeting">

		<form action="login.html" method="post">

			<div class="row">

				<div class="col-md-6">

					<div class="login-form">
						<label for="user_id"> email: </label>
						<input type="email" class="form-control" name="user_id" id="user_id" aria-describedby="email-subtext" placeholder="email">

					</div>

				</div>

				<div class="col-md-6">

					<div class="login-form">
					<label for="password"> password: </label>
					<input type="password" class="form-control" name="password" id="password" placeholder="password">
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-6">

					<div class="login-form">

						<button name ="login-choice" value="login" id="login-submit" type="submit" class="btn btn-primary"> Submit! </button>
						<a href="register.html"> <button name="login-choice" value="register" id="register-submit" class="btn btn-secondary"> Register </button> </a>

					</div>

				</div>

			</div>

		</form>

	</div>

{% endblock %}



<!-- Begin Individual Post -->

{% block posts_block %}


	{% if posts|length > 0 %}

	{% for post in posts %}

	<div class="post-entry">

		<div class="row">

		    <div class="col-md-12">

		        <div class="content-box">

		            <div class="row">

		                <div class="col-md-8">

		                    <div class="post-title">

		                        <h3> {{ post['title'] }} </h3>
		                        
		                    </div>

		                </div>

		                <div class="col-md-4">

		                    <div class="post-author">

		                        <h3> {{ post['author'] }} </h3>

		                    </div>

		                </div>

		            </div>

		            <div class="row">

		                <div class="col-md-12">

		                    <div class="post-content">

		                         <p> {{ post['content'] }} </p>

		                    </div>

		                </div>

		            </div>

		            <div class="row">

		            	<div class="col-md-4">

		            		<div class="post-likes">

	            				<span id='likes{{ post["id"] }}'> {{ post['likes'] }} </span> <br>

	            				<a href='login.html'><button type="button" class="btn btn-success">Like!</button></a>

		            		</div>

		            	</div>

		            	<div class="col-md-4">

		            		<div class="read_blog_button">

		            			<a href="view.html?blog_id={{ post['id'] }}"><button type="button" class="btn btn-default">Read More</button></a>

		            		</div>

		            	</div>

		            	<div class="col-md-4">

		            		<div class="blog_comments_button">

		            			<a href="view.html?blog_id={{ post['id'] }}"><button type="button" id="comment_total_button" class="btn btn-warning"> {{ post['comment_total'] }} Comments </button></a>

		            		</div>

		            	</div>

		            </div>

		        </div>

		    </div>

		</div>

	</div>

	{% endfor %}


	{% else %}

	<div class="post-entry">

	<div class="row">

	    <div class="col-md-12">

	        <div class="content-box">

	            <div class="row">

	                <div class="col-md-8">

	                    <div class="post-title">

	                        <h3> Hello, World! </h3>

	                    </div>

	                </div>

	                <div class="col-md-4">

	                    <div class="post-author">

	                        <h3>The Architect</h3>

	                    </div>

	                </div>

	            </div>

	            <div class="row">

	                <div class="col-md-12">

	                    <div class="post-content">

	                         <p> Register and make the first post to replace me! </p>

	                    </div>

	                </div>

	            </div>

	{% endif %}


{% endblock %}
                    <!-- End Individual Post --> 