{% extends "base.html" %}


{% block login_block %}

	{% if user != 'None' %}

		<div class="user-greeting">

			<h3> {{ user }} </h3>

		</div>

	{% else %}

		<form action="login-parse.html" method="post">

			<div class="row">

				<div class="col-md-6">

					<div class="login-form">
						<label for="email-input"> email: </label>
						<input type="email" class="form-control" name="user_id" id="user_id" aria-describedby="email-subtext" placeholder="email">

					</div>

				</div>

				<div class="col-md-6">

					<div class="login-form">
					<label for="password-input"> password: </label>
					<input type="password" class="form-control" name="password" id="user_id" placeholder="password">
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-4">

					<div class="login-form">

						<button name ="login-submit" type="submit" class="btn btn-primary"> Submit! </button>

					</div>

				</div>

				<div class="col-md-8">

					<div class="signup-link">

						<a href="register.html"> Not a Member? Register! </a>

					</div>

				</div>

			</div>


		</form>

	{% endif %}

{% endblock %}



<!-- Begin Individual Post -->

{% block posts_block %}

<div class="row">

    <div class="col-md-12">

        <div class="content-box">

            <div class="row">

                <div class="col-md-8">

                    <div class="post-title">

                        <h3> Generic Title </h3>

                    </div>

                </div>

                <div class="col-md-4">

                    <div class="post-author">

                        <h3> Generic Author </h3>

                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    <div class="post-content">

                         <p> Not The Top </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
                    <!-- End Individual Post --> 