{% extends "base.html" %}


{% block login_block %}

	{% if user != 'None' %}

		<div class="user-greeting">

			<h3> {{ user }} </h3>
			<a href="logout.html"> Logout </a>
			<a href="blog-compose.html"> Compose Post </a>

		</div>

	{% else %}

		<form action="login.html" method="post">

			<div class="row">

				<div class="col-md-6">

					<div class="login-form">
						<label for="user_id"> email: </label>
						<input type="email" class="form-control" name="user_id" id="user_id" aria-describedby="email-subtext" placeholder="email">

					</div>

				</div>

				<div class="col-md-6">

					<div class="login-form">
					<label for="password"> password: </label>
					<input type="password" class="form-control" name="password" id="password" placeholder="password">
					</div>

				</div>

			</div>

			<div class="row">

				<div class="col-md-4">

					<div class="login-form">

						<button name ="login-submit" type="submit" class="btn btn-primary"> Submit! </button>

					</div>

				</div>

				<div class="col-md-8">

					<div class="signup-link">

						<a href="register.html"> Not a Member? Register! </a>

					</div>

				</div>

			</div>


		</form>

	{% endif %}

{% endblock %}



<!-- Begin Individual Post -->

{% block posts_block %}

	{% if posts|length > 0 %}

	<!-- fetch JS source -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	{% for post in posts %}

	<div class="row">

	    <div class="col-md-12">

	        <div class="content-box">

	            <div class="row">

	                <div class="col-md-8">

	                    <div class="post-title">

	                        <h3> {{ post['title'] }} </h3>
	                        <a href="blog-edit.html?blog_id={{ post['id'] }}"> Edit Post! </a>

	                    </div>

	                </div>

	                <div class="col-md-4">

	                    <div class="post-author">

	                        <h3> {{ post['author'] }} </h3>

	                    </div>

	                </div>

	            </div>

	            <div class="row">

	                <div class="col-md-12">

	                    <div class="post-content">

	                         <p> {{ post['content'] }} </p>

	                    </div>

	                </div>

	            </div>

	            <div class="row">

	            	<div class="col-md-12">

	            		<div class="post-likes">

	            			{% if user != 'None' %}
	            				<span id='likes{{ post["id"] }}'> Likes: jack, other random people </span> <br>

	            				<span id='like-button{{ post["id"] }}'> <button type="button" class="btn btn-success">Like!</button></span>

	            			{% else %}

	            				<a href="login.html"> Like! </a>

	            			{% endif %}

	            		</div>

	            	</div>

	            </div>

	        </div>

	    </div>

	</div>

	<!--

	Begin Javascript "Like"
	Adapted from "https://developer.mozilla.org/en-US/docs/AJAX/Getting_Started"
		-->

	<script type="text/javascript">

		(function() {
			var httpRequest;
  			document.getElementById('like-button{{ post["id"] }}').onclick = function() {

    			httpRequest = new XMLHttpRequest();

    			httpRequest.onreadystatechange = function() {
	  				if (httpRequest.readyState === XMLHttpRequest.DONE) {
	      			if (httpRequest.status === 200) {
	        		//alert(httpRequest.responseText);
	        		var old_like_text = document.getElementById('likes{{ post["id"] }}').innerText;
	        
	        		var new_text = old_like_text.concat(httpRequest.responseText);
	        		document.getElementById('likes{{ post["id"] }}').text = new_text;
	        		$('#likes{{ post["id"] }}').text(new_text);
	      			} 
	      			else {
	        			alert('There was a problem with the request.');
	      				}
	    			}
	    		}

    			httpRequest.open('GET', 'like.html');
    			httpRequest.send();
  			}

  			

		})();

	</script>

	{% endfor %}


	{% else %}

	<div class="row">

	    <div class="col-md-12">

	        <div class="content-box">

	            <div class="row">

	                <div class="col-md-8">

	                    <div class="post-title">

	                        <h3> Generic Title </h3>

	                    </div>

	                </div>

	                <div class="col-md-4">

	                    <div class="post-author">

	                        <h3> Generic Author </h3>

	                    </div>

	                </div>

	            </div>

	            <div class="row">

	                <div class="col-md-12">

	                    <div class="post-content">

	                         <p> No Posts Yet! </p>

	                    </div>

	                </div>

	            </div>

	            <div class="row">

	            	<div class="col-md-12">

	            		<div class="post-likes">

	            		</div>

	            	</div>

	            </div>

	        </div>

	    </div>

	</div>

	{% endif %}



{% endblock %}
                    <!-- End Individual Post --> 